<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tela de login POC - SSO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tela de login POC - SSO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-padding">
      <ion-button expand="full" (click)="loginWithMicrosoft()">
        <ion-icon name="logo-windows"></ion-icon>
        Login com Microsoft
      </ion-button>
    </div>
  </ion-content>    
</ion-content>
